
body{
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.1px;
}

input[type=text],input[type=password]{
    border-radius: 2px !important;
    border: 1px solid #B6B6B6;
    box-shadow: none;
    padding: 8px 12px;

}


.btn-primary{
    color: white;
    background-color: #18517D;
    
}

.btn{
    font-size: 12px;
    line-height: 17px;
    height:30px;
    min-width: 40px;
    padding: 0 48px;
    text-align: center;
    cursor: pointer;
    border:0;
}

.ln{
    padding: 10px 48px;
}

.error{
    color:red;
}

.center{
    text-align: center;
}
