@import "base.css";

body, html{
    margin: 0;
    height: 100%
}

#chat{
    flex:100%;
    border: 1px solid #B6B6B6;
    box-shadow: none;
    overflow:scroll;
    padding:10px;
}

.message{
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px 0;
  margin: 10px 0;

}

.message .chat-box-message{
    padding: 0px 5px;
    margin: 5px 10px;
}

.darker{
    border-color: #d0e6f6;
    background-color: #d0e6f6; 
}


input[type=text]{
    width:85%;
}

.control{
    padding:20px 10px;
}

nav{
    background-color: #3D617D;
    color: white;
    height:50px;
}

nav .navigation-content{
    float:right;
    padding:10px 20px;
}

.title{
    font-size:20px;
    padding: 15px 20px;
    display:block;
    float:left;
}

.content{
    display:flex;
    width:100%;
    clear:both;
    min-height:75%;
    max-height:75%;
}

#users{
    flex:13%;
    padding:10px;
    border:0.5px solid #18517D;
}

#users .channel{
    text-align: center;
    padding:5px 0;

}

#users .channel:hover{
    text-align: center;
    padding:5px 0;
    cursor: pointer;
    background-color: #ccc;
    
}