@import "base.css";

*{box-sizing:border-box;}

body {
  font-family: 'open sans', helvetica, arial, sans;
  background:#d3d3d3 no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.log-form {
  width: 40%;
  min-width: 320px;
  max-width: 475px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%); 
  box-shadow: 0px 2px 5px rgba(0,0,0,.25);

  @media(max-width: 40em){
    width: 95%;
    position: relative;
    margin: 2.5% auto 0 auto;
    left: 0%;
    -webkit-transform: translate(0%,0%);
    -moz-transform: translate(0%,0%);
    -o-transform: translate(0%,0%);
    -ms-transform: translate(0%,0%);
    transform: translate(0%,0%);
  }
}

.log-form .log-block{
  margin: 20px;

}

input[type=text],input[type=password]{
  width: 60%;
}

.forgot{
  font-size: 12px;
  padding-top:10px;
  display: block;
}


.logo {
  text-align: center;
}


.spacing{
  float: right;
}

label{
  display: block;
  padding: 5px 0;
  font-size: 12px;
  font-weight: bold;
}
